RewriteEngine On
# RewriteBase /view

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^(.*)$ src/public/index.php?$1 [L,QSA]


# RewriteEngine on
# RewriteCond %{REQUEST_URI} !^public
# RewriteRule ^(.*)$ src/public/$1 [L]


# <IfModule mod_rewrite.c>
#     <IfModule mod_negotiation.c>
#         Options -MultiViews
#     </IfModule>

#     RewriteEngine On

#     RewriteCond %{REQUEST_FILENAME} -d [OR]
#     RewriteCond %{REQUEST_FILENAME} -f
#     RewriteRule ^ ^$1 [N]

#     RewriteCond %{REQUEST_URI} (.w+$) [NC]
#     RewriteRule ^(.*)$ public/$1

#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteRule ^ server.php

# </IfModule>


# RewriteEngine On
# RewriteBase /view/

# RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
# RewriteRule ^ %1 [L,NE,R=302]

# RewriteRule ^((?!src/public/).*)$ /src/public/$1 [L,NC]